.button {
  border-radius: 4px;
  outline: transparent;
  border-color: transparent;
  background-color: rgb(234, 234, 240);
  width: 100px;
  height: 35px;
  cursor: pointer;
  margin-bottom: 20px;

  font-size: medium;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
